<% if user_signed_in? %>
  <div class='row'>
    <div class='content col-md-8'></div>
    <div class='sidebar col-md-4'></div>
  </div>
<% else %>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-5'>
      <img class='jam' src='/assets/BLOGJamboree!.png'>
    </div>
    <div class='col-md-4'></div>
  </div>

  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4 try-it'>
      <p>A blogging application.</p>
      <a href='/users/sign_up'>Try it out!</a> 
    </div>
    <div class='col-md-4'></div>
  </div>
  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <div class='intro'>
      <p>This site was developed by AJ Gregory using Backbone.js with a Ruby on Rails back end. Please visit me at
        <a href='http://ajgregory.me'>ajgregory.me</a></p>
      </div>
    </div>
    <div class='col-md-4'></div>
  </div>
<% end %>
