<% var current_user = JSON.parse($('#current_user_json').html()); %>

<ul>
	<% comments.forEach(function(comment) { %>
    <p>
		  <%= comment.escape('body') %>
      <% if (comment.get('author_id') === current_user.id) { %>
  			<a class='delete glyphicon glyphicon-trash btn btn-default btn-xs'
         data-id='<%= comment.get('id') %>'>
        </a>
      <% } %>
		</p>
	<% }); %>
	<br><br>
</ul>
