<% var current_user = JSON.parse($('#current_user_json').html()); %>

<ul>
	<% comments.forEach(function(comment) { %>
    <p data-id='<%= comment.get('id') %>'>
		  -<%= comment.escape('body') %>
      <% if (comment.get('author_id') === current_user.id) { %>
  			<a class='deleteComment btn btn-xs' data-id='<%= comment.get('id') %>' title='delete comment'>
         Remove
        </a>
      <% } %>
		</p>
	<% }); %>
	<br><br>
</ul>
