<hr>
<form>
  <label for="title">Title</label><br>
	<input type='text' name='post[title]' id='title' value='<%= post.get('title') %>'>

  <br>
  <label for="body">Body</label><br>
	<textarea name='post[body]' id='body' value='<%= post.get('body') %>'
	rows='6' cols='39'></textarea>

	<br>
	<input type="submit" value="Post!">
</form>
<br><br>
<hr>
