<h1>Post Index</h1>
<hr>
<ul>
	<% posts.forEach(function (post) { %>
    <li>
		  <a href=<%= '#/posts/' + post.get('id') %>>
		  <%= post.get("title") %>
			</a>
			<button class='delete' data-id='<%= post.get('id') %>'>Delete</button>
		</li>
	<% }); %>
	<br><br>
</ul>
<hr>
<a href='#/posts/new'>New Post</a>