<h1 class='title'><%= post.get('title') %></h1>

<hr>
<div class='body'><%= post.get('body') %></div>

<br><br>
<hr>

<h2>Comments</h2>
<ul>
  <% postComments.each(function(comment) { %>
    <li><%= comment.escape('body') %></li>
  <% }); %>
</ul>
<br>
<textarea class='newComment' rows='6' cols='39'></textarea>
<button class='addCommentBtn'>Add Comment</button>