<h1>Your Blogs</h1>
<hr>
<ul>
	<% blogs.forEach(function (blog) { %>
    <li>
		  <a href=<%= '#/blogs/' + blog.get('id') %>>
		  <%= blog.escape("name") %>
			</a>
			<a class='delete glyphicon glyphicon-trash btn btn-default btn-xs'
       data-id='<%= blog.get('id') %>'></a>
		</li>
	<% }); %>
	<br><br>
</ul>
<hr>
<a href='#/blogs/new'>New Blog</a>