<% var current_user = JSON.parse($('#current_user_json').html()); %>

<form>
<input type='text' class='searchBar'>
<input type='submit' class='searchBtn btn btn-default btn-sm' value='Search'>
</form>

<h1>Your Blogs</h1>
<div class='list-group'>
	<% blogs.forEach(function(blog) { %>
    <% if (blog.get('user_id') === current_user.id) { %>
		  <a href=<%= '#/blogs/' + blog.get('id') %> class='list-group-item'>
		  <%= blog.escape("name") %>
			</a>
    <% } %>
	<% }); %>
</div>
<a href='#/blogs/new' class='btn btn-sm btn-default'>New Blog!</a>
<hr>


<h1>Followed Blogs</h1>
<div class='followed list-group'>
  <% blogs.forEach(function(blog) { %>
    <% if ($.inArray(current_user.id, blog.followers()) !== -1) { %>
      <a href=<%= '#/blogs/' + blog.get('id') %> class='list-group-item'>
      <%= blog.escape("name") %>
      </a>
    <% } %>
  <% }); %>
</div>
<a href='#/blogs/find' class='btn btn-sm btn-default'>Find Blogs!</a>