<% var current_user = JSON.parse($('#current_user_json').html()); %>

<div class="panel panel-default">
  
  <div class='panel-heading'>
    <h1 class='name'><%= blog.escape('name') %></h1>

    <% if (current_user.id === blog.get('user_id')) { %>
      <div class='btn-group'>
        <a class='glyphicon glyphicon-trash btn 
         btn-default btn-sm' data-toggle='modal' data-target='#confirm-delete-modal' title='delete blog'>
        </a>
        <a class='postText glyphicon glyphicon-pencil btn 
         btn-default btn-sm' data-toggle='modal' data-target='#post-text-modal' title='write a post'>
        </a>
        <a class='postPhoto glyphicon glyphicon-picture btn 
         btn-default btn-sm' data-toggle='modal' data-target='#post-photo-modal' title='post a photo'>
        </a>  
      </div>
    <% } %>

    <% if ($.inArray(current_user.id, blog.followers()) === -1
           && blog.get('user_id') !== current_user.id) { %>
      <a class='followBtn btn btn-xs'>Follow</a>
    <% } else if (blog.get('user_id') !== current_user.id) { %>
      <a class='unfollowBtn btn btn-xs'>Unfollow</a>
    <% } %>
  </div>

  <div class='description panel-body'>
    <%= blog.escape('description') %>
  </div>

</div>

<br>

<hr>

<div class="posts">
</div>

<br>


<!-- Post Text Modal -->

<div class='modal fade' id='post-text-modal'
 tabindex="-1" role="dialog" aria-labelledby="post-text-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
       <h3 class="modal-title" id="post-text-modal-label">Write a Post</h3>
     </div>
     <div class="modal-body">
       <div class='errors' style='display:none; color:red;'>
          Your post must have a title and a body
       </div>
     </div>
     <div class="modal-footer">
       <button class='addPostBtn btn btn-sm btn-default'>Post!</button>
     </div>
   </div>
 </div>
</div>

<!-- Post Photo Modal -->

<div class='modal fade' id='post-photo-modal'
 tabindex="-1" role="dialog" aria-labelledby="post-photo-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
       <h3 class="modal-title" id="post-photo-modal-label">Add a Photo</h3>
     </div>
     <div class="modal-body">
       <div class='errors' style='display:none; color:red;'>
          No file selected
       </div>
       <div class='dropPane'></div>
     </div>
     <div class="modal-footer">
       <div class='dropResult'></div>
       <button class='addPhotoBtn btn btn-sm btn-default'>Post!</button>
     </div>
   </div>
 </div>
</div>

<!-- Confirm Delete Modal -->

<div class='modal fade' id='confirm-delete-modal'
 tabindex="-1" role="dialog" aria-labelledby="post-photo-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class='modal-body'>
       <h2>Are you sure you want to delete this blog?</h2><br>
       <button class='btn btn-lg btn-default' data-dismiss='modal'>Cancel</button>
       <button class='delete btn btn-lg btn-danger'>Delete</button>
     </div>
   </div>
 </div>
</div>