<h1 class='name'><%= blog.get('name') %></h1>
<a class='followBtn btn btn-xs'>Follow</a>
<hr>
<div class='description'><%= blog.get('description') %></div>

<br><br>
<hr>

<h2>Posts</h2>

<div class="posts">
</div>

<br>
<input type='text' class='newPostTitle'>
<textarea class='newPostBody' rows='6' cols='39'></textarea>
<button class='addPostBtn'>Add Post</button>