<% var current_user = JSON.parse($('#current_user_json').html()); %>

<h1 class='name'><%= blog.get('name') %></h1>


<% if (current_user.id === blog.get('user_id')) { %>
  <div class='btn-group'>
    <button type='button' class='delete glyphicon glyphicon-trash btn 
     btn-default btn-sm'></button>
    <button type='button' class='postText glyphicon glyphicon-pencil btn 
     btn-default btn-sm' data-toggle='modal' data-target='#post-text-modal'>
    </button>
    <button type='button' class='postPhoto glyphicon glyphicon-picture btn 
     btn-default btn-sm' data-toggle='modal' data-target='#post-photo-modal'></button>  
  </div>
<% } %>

<% if ($.inArray(current_user.id, blog.followers()) === -1
       && blog.get('user_id') !== current_user.id) { %>
  <a class='followBtn btn btn-xs'>Follow</a>
<% } else if (blog.get('user_id') !== current_user.id) { %>
  <a class='unfollowBtn btn btn-xs'>Unfollow</a>
<% } %>

<hr>
<div class='description'><%= blog.get('description') %></div>

<br><br>
<hr>

<h2>Posts</h2>

<div class="posts">
</div>

<br>


<!-- Post Text Modal -->

<div class='modal fade' id='<%= 'post-text-modal' %>'
 tabindex="-1" role="dialog" aria-labelledby="post-text-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
       <h3 class="modal-title" id="post-text-modal-label">Write a Post</h3>
     </div>
     <div class="modal-body">
     </div>
     <div class="modal-footer">
       <button class='addPostBtn' data-dismiss='modal'>Post!</button>
     </div>
   </div>
 </div>
</div>

<!-- Post Photo Modal -->

<div class='modal fade' id='<%= 'post-photo-modal' %>'
 tabindex="-1" role="dialog" aria-labelledby="post-photo-modal-label" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
       <h3 class="modal-title" id="post-photo-modal-label">Add a Photo</h3>
     </div>
     <div class="modal-body">
     </div>
     <div class="modal-footer">
       <div class='dropResult'></div>
       <button class='addPhotoBtn' data-dismiss='modal'>Post!</button>
     </div>
   </div>
 </div>
</div>