<h1 class='name'><%= blog.get('name') %></h1>

<% var current_user = JSON.parse($('#current_user_json').html()); %>
<% if ($.inArray(current_user.id, blog.followers()) === -1
       && blog.get('user_id') !== current_user.id) { %>
  <a class='followBtn btn btn-xs'>Follow</a>
<% } else if (blog.get('user_id') !== current_user.id) { %>
  <a class='unfollowBtn btn btn-xs'>Unfollow</a>
<% } %>

<hr>
<div class='description'><%= blog.get('description') %></div>

<br><br>
<hr>

<h2>Posts</h2>

<div class="posts">
</div>

<br>
<input type='text' class='newPostTitle'>
<textarea class='newPostBody' rows='6' cols='39'></textarea>
<button class='addPostBtn'>Add Post</button>