<form>
  <label for='newPostTitle'>Title</label><br>
  <input type='text' id='newPostTitle'>
  <br>

  <label for='newPostBody'>Body</label><br>
  <textarea id='newPostBody' rows='6' cols='39'></textarea>
  <br>
</form>