/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require gritter
 *= require_self
 *= require_tree
 */

textarea {
  resize: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type=text] {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type=password] {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type=email] {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

div.or {
  color: #cccccc;
  font-size: 52px;
  font-style: italic;
  text-align: center;
  line-height: 300px;
}

div.demoInvite {
  text-align: center;
  line-height: 300px;
}

div.demoInvite a {
  background-color: #289fc7;
  color: white;
  border: 1px solid #cccccc;
}

.gritter-item.gritter-css3 {
  background-color: rgba(204,204,204,0.5);
  color: black;
}

.gritter-title {
  font-size: 24px;
  text-shadow: none;
}

.gritter-item.gritter-css3 * p {
  font-size: 12px;
}