// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 	background-image: url(/assets/textured_paper.png)
 }

div.sidebar {
	border:1px solid black;
	width:250px;
	margin-left:30px;
  float:left;
}

.sidebar h1 {
	margin-left:50px;
}

.content {
	margin-left:400px;
	width:300px;
}

hr {
  border-top-width:3px;
  border-color:#754719;
}

li {
  list-style-type:none;
}

.btn-default {
  background-color:transparent;
}