// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color:beige;
}

div.sidebar {
  box-sizing:border-box;
	border:1px solid black;
	width:250px;
	margin-left:30px;
  float:left;
}

.sidebar h1 {
	margin-left:30px;
	margin-right:30px;
}

.content {
	margin-left:400px;
	width:300px;
}

hr {
  border-color:brown;
}